body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

button {
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 1em;
  margin-top: 0.2em;
}

button:hover {
  background-color: darkgray;
}

.App {
  text-align: center;
}

.subheader {
  margin-bottom: 0.4em;
}

.GameBoard {
  border: 1px solid black;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.Square {
  border: 1px solid gray;
  cursor: pointer;
}

.Square.owner-X {
  background: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z"/></svg>')
    no-repeat center center;
  background-size: 90%;
  cursor: not-allowed;
}

.Square.owner-O {
  background: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12z"/></svg>')
    no-repeat center center;
  background-size: 90%;
  cursor: not-allowed;
}
